
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recycle Tracker</title>
    </head>

    <body>
        <div style = "margin: 20px;">
            <h1>Recycle Tracker</h1>
            <p>Total Items Recycled: <strong>{{ count }}</strong></p>
            <form action="/recycletracker" method="post">
                <button type = "submit">Recycle another item</button>
            </form>
        </div>
    
        
</body>
</html>