<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        <title>Reset Password</title>
    </head>
    <body>
        <form action='/reset' method='POST'>
            <h1>Reset Password</h1>
            <div className="inputs">
             <input type='text' placeholder="E-mail" name ='email'><br>
             <input type = 'password' placeholder="Password" name ='password'>
            <input type='submit' placeholder="Submit">
            <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        </div>
   
        </form>
</body>
</html>